<h1><%= "#{@task.id} - #{@task.title}" %></h1>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>
<%= link_to "Go back home", root_path %></a>
<button><a href=<%= "#{edit_path(@task.id)}"  %>>Edit</a></button>
<button><%= link_to "Delete",
            destroy_path(@task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</button>
